/* Loading custom font */
@font-face {
    font-family: myFont;
    src: url("./Quicksand-VariableFont_wght.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: myFont;
}

html {
    scroll-behavior: smooth;
}

p {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.375rem;
    color: #8791ae;
}

#top-section {
    background-color: #f5f5f5;
    padding-left: 11.25rem;
    padding-right: 11.25rem;
    padding-bottom: 2rem;
}

/* Styles for navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding-top: 2.5rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 63rem;
    height: 3rem;
    margin-left: 5rem;
}

/* Styles for menu items */
.menu,
.menu2 {
    display: flex;
    list-style: none;
    height: 3.5rem;
}

.menu a:hover,
.menu2 a:hover {
    color: #011f3b;
}

.menu a,
.menu2 a {
    text-decoration: none;
    padding: 15px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 19.6px;
    color: #717580;
}

.menu a:first-child {
    color: #011f3b;
}

.nav-btn {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    padding-right: 1rem;
    width: 9rem;
    height: 3rem;
    font-weight: 700;
    font-size: 1rem;
    line-height: 19.81px;
    border: none;
    border-radius: 27.5px;
    background-color: #386ee1;
    color: #fff;
    cursor: pointer;
}

.nav-btn img {
    padding-right: 7px;
}

.wrapper {
    display: flex;
    padding-top: 5rem;
}

section {
    flex: 1;
}

.w-us {
    color: #011f3b;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5rem;
    height: 11rem;
    margin-bottom: 1rem;
}

span {
    color: #fb6504;
}

.time {
    height: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.26px;
    margin-bottom: 4rem;
}

.search {
    display: flex;
    align-items: center;
}

.basic {
    color: #011f3b;
    font-weight: 700;
    font-size: 1rem;
    line-height: 19.81px;
    margin-right: 20px;
}

.filter {
    font-weight: 700;
    font-size: 1rem;
    line-height: 19.81px;
}

.search-panel {
    display: flex;
    align-items: center;
    padding: 5px 8px;
    width: 39rem;
    height: 4rem;
    margin-top: 10px;
    border: none;
    border-radius: 2rem;
    background-color: #ffffff;
    color: #ffffff;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.03);
    cursor: pointer;
}

.search-panel .picmg {
    margin-right: 8px;
}

.search-panel .search-input {
    flex: 1;
    border: none;
    border-radius: 4px;
    padding: 8px;
    margin-right: 8px;
}

.search-panel .search-btn {
    width: 9rem;
    height: 55px;
    padding: 8px 16px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 19.81px;
    border: none;
    border-radius: 27.5px;
    background-color: #386ee1;
    color: #ffffff;
    cursor: pointer;
}

.index {
    display: flex;
    flex-direction: row;
    width: 31rem;
    height: 4rem;
    margin-top: 3rem;
}

.index > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.index > div:last-child {
    margin-right: 0;
    /* Remove margin from the last item */
}

.line {
    height: 2rem;
    margin-top: 10px;
    color: #a8b0b8;
}

.index > div > h1 {
    justify-items: start;
    height: 4rem;
    font-weight: 800;
    font-size: 3rem;
    line-height: 4rem;
    color: #011f3b;
}

.index > div > p {
    height: 3rem;
    margin-top: 10px;
    margin-left: 8px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 21px;
}

aside {
    order: 2;
    margin-top: 6rem;
}

aside img {
    width: 42rem;
    height: 32rem;
}

#cards {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-left: 10px;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 23rem;
    left: 17rem;
    top: 66rem;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.05);
}

.card:nth-child(1) .icon {
    background-color: #53dd89;
    box-shadow: 0px 15px 30px 0px rgba(83, 221, 137, 0.25);
}

.card:nth-child(2) .icon {
    background-color: #386ee1;
    box-shadow: 0px 15px 30px 0px rgba(56, 110, 225, 0.25);
}

.card:nth-child(3) .icon {
    background-color: #fb6504;
    box-shadow: 0px 15px 30px 0px rgba(251, 101, 4, 0.2);
}

.card:nth-child(4) .icon {
    background-color: #fbba3d;
    box-shadow: 0px 15px 30px 0px rgba(251, 186, 61, 0.2);
}

.icon {
    padding: 20px;
    border-radius: 20px;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 2rem;
    height: 2rem;
}

.card-content {
    justify-content: flex-start;
}

.card-content h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29.71px;
    color: #011f3b;
    height: 2rem;
    margin-bottom: 10px;
    padding-left: 1rem;
}

.card-content p {
    font-size: 1rem;
    color: #555;
}

.detail {
    display: flex;
    align-items: center;
}

.card:nth-child(1) .detail {
    color: #53dd89;
}

.card:nth-child(n+2) .detail {
    color: #011f3b;
}

.boarding-houses:nth-child(1) .detail {
    color: #53dd89;
}

.boarding-houses:nth-child(n+2) .detail {
    color: #011f3b;
}

.detail h6 {
    margin-right: 1rem;
    margin-left: 20px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 28px;
}

#centre-section {
    background-color: #fff;
    padding-left: 11.25rem;
    padding-right: 11.25rem;
}

#info-filter {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

/* Targeting the first <p> element */
#info p:first-of-type {
    color: #53dd89;
    font-weight: 600;
    font-size: 1rem;
    line-height: 19.6px;
    height: 1rem;
}

/* Targeting the <h2> element */
#info h2 {
    color: #011f3b;
    font-weight: 700;
    font-size: 2rem;
    line-height: 44.57px;
    width: 23rem;
    height: 3rem;
    padding-left: 0.7rem;
}

/* Targeting the second <p> element */
#info p:nth-of-type(2) {
    font-weight: 500;
    font-size: 1rem;
    line-height: 19.41px;
    height: 1rem;
}

.fbq {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.fbq img {
    background-color: #ffffff;
    margin-right: 1rem;
    padding-top: 0.2rem;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.05);
}

.fbq p {
    height: 1rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 19.6px;
    padding-top: 1.1rem;
    color: #011f3b;
}

#houses {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-left: 10px;
    margin-top: 1rem;
    margin-bottom: 0;
}

.boarding-houses {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 33rem;
    left: 13rem;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.05);
}

.ihouse {
    width: 20rem;
}

.hashtag {
    height: 1rem;
    color: #fb6504;
    font-weight: 600;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 1rem;
}

.text-num {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.text-num h3{
    height: 25px;
    font-weight: 700;
    font-size: 20px;
    color: #011f3b;
    height: 25px;
    margin-top: 5px;
    padding-left: 1rem;
}

.text-num h4 {
    height: 1.25rem;
    font-weight: 700;
    font-size: 1rem;
    color: #53dd89;
    margin-top: 5px;
    padding-right: 0.6rem;
}

.furniture {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.furniture > div > p {
    height: 1rem;
    font-weight: 600;
    font-size: 0.75rem;
}

.amenities {
    display: flex;
    justify-content: space-between;
}

.amenities img {
    width: 1.1rem;
    height: 1.1rem;
}

.addy {
    display: flex;
    padding-left: 1rem;
    margin-top: 5px;
}

.addy p {
    height: 1.3rem;
    padding-left: 0.5rem;
}

:not(.addy) > p {
    padding-left: 1rem;
    margin-top: 0;
}

#blue-trans {
    margin: 4rem 0 0 42.5rem;
}

#blue-trans2 {
    margin: 4rem 0 3rem 2rem;
}

#bottom-section {
    padding-left: 11.25rem;
    padding-right: 11.25rem;
    background-color: #f5f5f5;
}

#phone-wink {
    display: flex;
    margin-top: 0;
    padding-top: 5rem;
}

#winking {
    flex: 1;
    padding-top: 5rem;
}

#winking h5 {
    color: #fb6504;
    font-weight: 600;
    font-size: 1rem;
    padding-left: 0.7rem;
}

#winking h2 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 5rem;
    width: 33rem;
    height: 10rem;
    padding-left: 0.7rem;
}

#winking p {
    padding-left: 0.7rem;
}

#winking h3 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 39.62px;
    padding-left: 0.7rem;
}

/* Target the <img> tags below the <h3> */
#phone-wink #winking h3 + img {
    padding-left: 0; /* Remove the padding-left */
}

#phone {
    order: 2;
}

#phone img {
    width: 46rem;
    height: 44.8rem;
}

#realtors {
    position: relative;
    margin-top: 10rem;
    margin-bottom: 500px;
}

#choleric {
    position: absolute;
    top: 0;
    left: 0;
}

#cursing-face {
    position: absolute;
    top: 10px; /* Adjust this value to position the image vertically */
    left: 500px; /* Adjust this value to position the image horizontally */
    margin-right: 50px;
}

#group15 {
    position: absolute;
    top: 50px;
    left: 570px;
}

#group14 {
    position: absolute;
    top: 50px;
    left: 855px;
}

#group16 {
    position: absolute;
    bottom: -280px;
    left: 640px;
}

#red-blue {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding-left: 11.25rem;
    padding-right: 11.25rem;
    margin-top: 1.8rem;
}

#hucksters {
    flex: 1;
    order: 1;
    margin-top: 2.5rem;
}

#hucksters h5 {
    color: #fb6504;
    font-weight: 600;
    font-size: 1rem;
    line-height: 19.6px;
}

#hucksters h2 {
    color: #011f3b;
    font-weight: 700;
    font-size: 2rem;
    line-height: 44.57px;
    padding-top: 1.2rem;
}

#hucksters p {
    padding-left: 0;
}

#icon-text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
    margin-top: 0;
}

#icon-text2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 3;
    margin-top: 0;
}

.iconic img{
    order: 1;
    margin-top: 0;
    margin-left: 4rem;
    padding: 20px;
    width: 2rem;
    height: 2rem;
    border-radius: 20px;
}

#icon-text img {
    background-color: rgb(255, 81, 81);
    box-shadow: 0px 15px 30px 0px rgba(255, 81, 81, 0.25);
}

#icon-text2 img {
    background-color: #386ee1;
    box-shadow: 0px 15px 30px 0px rgba(56, 110, 225, 0.25);
}

.sub-text {
    order: 2;
    margin-top: 1.6rem;
}

.sub-text h3 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 29.71px;
    height: 2rem;
    color: #011f3b;
}

.sub-text p {
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.7rem;
    height: 2rem;
    color: #011f3b;
    padding-left: 0;
}

#sponsors {
    text-align: center;
    padding-left: 11.25rem;
    padding-right: 11.25rem;
    margin-top: 3rem;
    padding-top: 3rem;
    background-color: #f5f5f5;
}

#sponsors p {
    font-weight: 600;
    font-size: 1rem;
    line-height: 19.6px;
    color: #53dd89;
}

#sponsors h4 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 44.57px;
    color: #011f3b;
}

#emblems img{
    padding-right: 6.2rem;
}

#w-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #386ee1;
    height: 11rem;
    padding-left: 11.25rem;
    padding-right: 11.25rem;
}

#blue-bg h4 {
    color: #fff;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 44.57px;
}

#blue-bg p {
    color: #fff;
    padding-left: 0;
    height: 1.1rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 19.41px;
}

button {
    width: 14.8rem;
    height: 3.4rem;
    border: none;
    border-radius: 27.5px;
    background-color: rgba(255, 255, 255, 1);
    color: #011f3b;
    box-shadow: 0px 20px 35px 0px rgba(56, 110, 225, 0.25);
    cursor: pointer;
}

#logo2-icons {
    background-color: #364463fb;
    text-align: center;
    padding-left: 11.25rem;
    padding-right: 11.25rem;
}

#logo2-icons img {
    padding-top: 3.5rem;
    padding-bottom: 0.7rem;
    width: 11.8rem;
    height: 7rem;
}

#logo2-icons p {
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;
    color: #babcc3;
}

#social-medias img {
    padding: 1rem 1.5rem 1.5rem 0;
    width: 1.5rem;
    height: 1.5rem;
}

hr {
    top: 330.5rem;
    left: 17.3rem;
    color: #ffffff1f;
}